<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fashio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="/static/js/caroufredsel.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
<!--navbar-->
            <div class="container" id="home">
                <div class="row">
                        <nav>
                            <ul>
                                <li><a href="#" onclick="return show('home');">Home</a></li>
                                <li><a href="#collection" onclick="return show('collection');">Collection</a></li>
                                <li><a href="#testimonials" onclick="return show('testimonials');">Client Testimonials</a></li>
                                <li><a href="#team" onclick="return show('team');">Our Team</a></li>
                                <li><a href="#contact" onclick="return show('contact');">Contact Us</a></li>
                            </ul>
                        </nav>
                </div>
            </div>
        </header>
        <section class="slider">
            
            <ul class="slider-carousel" id="slider-carousel">
                <li class="img1">
                    <section>
                        <div class="sec1">
                            <p>
                                <img src="/static/images/logo3.2.png">
                            </p>
                            <h1>FASHIO</h1>
                            <h3>fashion for life</h3>
                        </div>
                    </section>
                    <h2>Welcome to Fashio</h2>
                    <a href="" class="btn btn-full">Click Here</a>
                </li>
                <li  class="img3">
                    <section>
                        <div class="sec1">
                            <p>
                                <img src="/static/images/logo3.2.png">
                            </p>
                            <h1>FASHIO</h1>
                            <h3>fashion for life</h3>
                        </div>
                    </section>
                    <h2>Welcome to Fashio</h2>
                    <a href="" class="btn btn-full">Click Here</a>
                </li>
                <li  class="img2">
                    <section>
                        <div class="sec1">
                            <p>
                                <img src="/static/images/logo3.2.png">
                            </p>
                            <h1>FASHIO</h1>
                            <h3>fashion for life</h3>
                        </div>
                    </section>
                    <h2>Welcome to Fashio</h2>
                    <a href="" class="btn btn-full">Click Here</a>
                </li>
            </ul>
        </section>
<!--Welcome page-->
        <section id="intro">
            <div class="sec5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2>FASHIO</h2>
                            <img src="/static/images/logo3.1.png">
                            <div class="sub-heading">
                                <p>fashion for life</p>
                                <hr id="hr">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="intro-block">
                            <span class="intro-icon"><i class="fa"></i></span>
                            <h3>Women</h3>
                            <p>Shop designer cloths for women</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="intro-block">
                            <span class="intro-icon"><i class="fa"></i></span>
                            <h3>Men</h3>
                            <p>Shop designer cloths for men</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="intro-block">
                            <span class="intro-icon"><i class="fa"></i></span>
                            <h3>Children</h3>
                            <p>Shop designer cloths for children</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--Collection-->
        <section class="collection" id="collection">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-md-12">
                        <h1 class="text-center">For Her</h1>
                    </div>
                </div>
            </div>

            <ul class="slider-carousel" id="slider-carousel">
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c101.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product1</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c111.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product2</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c121.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product3</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c131.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product4</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c141.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product5</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
            <ul class="slider-carousel" id="slider-carousel">
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c101.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product1</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c111.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product2</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c121.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product3</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c131.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product4</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c141.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product5</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
            <ul class="slider-carousel" id="slider-carousel">
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c101.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product1</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c111.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product2</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c121.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product3</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c131.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product4</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/c141.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product5</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
            
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-md-12">
                        <h1 class="text-center">For Him</h1>
                    </div>
                </div>
            </div>
            <ul class="slider-carousel" id="slider-carousel">
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M1.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product1</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M2.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product2</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M3.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product3</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M4.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product4</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M5.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product5</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
            <ul class="slider-carousel" id="slider-carousel">
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M1.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product1</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M2.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product2</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M3.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product3</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M4.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product4</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M5.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product5</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
            <ul class="slider-carousel" id="slider-carousel">
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M1.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product1</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M2.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product2</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M3.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product3</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M4.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product4</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li>
                    <section>
                        <div class="collection-inner">
                            <img class="card-img-top img-fluid" src="/static/images/product/M5.jpg">
                            <div class="card-body">
                                <div class="card-title"> Product5</div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet<br/>
                                    <a class="btn btn-info">Buy Now</a> &nbsp; &nbsp; <a class="btn btn-success">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>

        </section>

<!--Client testimonials-->
        <section class="testimonials" id="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Grateful Clients</h2>
                        <div class="sub-heading">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit in voluptatebr velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                                <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                                <li data-target="#carousel-testimonials" data-slide-to="3"></li>
                                <li data-target="#carousel-testimonials" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active text-center">
                                    <img src="/static/images/uf1.jpg" class="center-block">
                                    <h2>Tina</h2>
                                    <h4>Accountant</h4>
                                    <p>"I just wanted to share a quick note and let you know that you guys do a really good job. <br> I’m glad I decided to work with you. <br> It’s really great how easy your websites are to update and manage. <br> I never have any problem at all."</p>
                                </div>
                                <div class="item text-center">
                                    <img src="/static/images/uf2.jpg" class="center-block">
                                    <h2>Jackson</h2>
                                    <h4>Lawyer</h4>
                                    <p>"I would recommend fashio because the are very good to deal with"</p>
                                </div>
                                <div class="item text-center">
                                    <img src="/static/images/uf3.jpg" class="center-block">
                                    <h2>Allen</h2>
                                    <h4>Biomedical Engineer</h4>
                                    <p>"Exactly what I wanted for husband. Colour is perfect too. Washes no bother"</p>
                                </div>
                                <div class="item text-center">
                                    <img src="/static/images/uf9.jpg" class="center-block">
                                    <h2>John</h2>
                                    <h4>IT Technician</h4> 
                                    <p>"You made it so simple. <br>Thanks guys!."</p>
                                </div>
                                <div class="item text-center">
                                    <img src="/static/images/uf6.jpg" class="center-block">
                                    <h2>Kayden</h2>
                                    <p>"You're services are exceptional"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--Team/ about us-->
        <section class="team-area" id="team">
            <div class="cotainer">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Our Team</h2>
                        <div class="sub-heading">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit in voluptatebr velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6-md-3">
                        <div class="team-block">
                                <img src="/static/images/vickie.jpg">
                                <h3>Vickie Brannon</h3>
                                <span>Team Lead</span>
                                <p>Vickie has a bachelors degree in business</p>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=brannonvicky@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6-md-3">
                        <div class="team-block">
                                <img src="/static/images/adda.png">
                                <h3>Adda Nankya</h3>
                                <span>Designer</span>
                                <p>Adda loves art and is a proud Ugandan</p>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=addanankya826y@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6-md-3">
                        <div class="team-block">
                                <img src="/static/images/akil.jpg">
                                <h3>Akil</h3>
                                <span>Photographer</span>
                                <p>Akil a film director and photographer</p>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=asapman403@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6-md-3 text-center">
                        <div class="team-block">
                                <img src="/static/images/elijah.jpg">
                                <h3>Elijah Kizito</h3>
                                <span>IT Specialist</span>
                                <p>Elijah is a tech enthusiast</p>
                                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=elijahknsubuga@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--Contact-->
        <section class="contact-area" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Contact Us</h2>
                        <div class="sub-heading">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit in voluptatebr velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 divider">
                        <h3>Contacts</h3>
                        <div class="contact-address">
                            <ul>
                                <li>
                                    <i class="fa fa-home"></i>
                                    <div class="address-phone">
                                        <h4>address</h4>
                                        <span>7021 Newark, New Jersey</span>
                                    </div>
                                </li><br>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <div class="address-phone">
                                        <h4>phone</h4>
                                        <span>+1 (732) 374 1640</span><br>
                                        <span>+256 701 985437</span><br>
                                        <span>+1 (862) 312 8772</span><br>
                                        <span>+256 753 237823</span>
                                    </div>
                                </li><br>
                                <li>
                                    <i class="fa fa-paper-plane"></i>
                                    <div class="address-phone">
                                        <h4>email</h4>
                                        <span><a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=service@fashio.com" target="_blank">service@fashio.com</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="contact-block">
                            <h3>Send us a message</h3>
                            <form class="contact-form">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your first name" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your phone number" required="required">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="contact@gmail.com" required="required">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" required="required"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn default-btn btn-block">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--footer-->
        <section class="feature-area" id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="title">
                            <h2>Shop With Us</h2>
                            <div class="sub-heading">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit in voluptatebr velit esse cillum dolore eu fugiat nulla pariatur. <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui <br> officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                    <footer>
                        <ul>
                            <li><a href="#" onclick="return show('home');">Home</a></li>
                            <li><a href="#collection" onclick="return show('collection');">Collection</a></li>
                            <li><a href="#testimonials" onclick="return show('testimonials');">Client Testimonials</a></li>
                            <li><a href="#team" onclilick="return show('team');">Our Team</a></li>
                            <li><a href="#contact" onclick="return show('contact');">Contact Us</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://citinstitute.tech" target="_blank">@2020 CIT</a></li>
                            <li><a href="https://github.com/iCodeElijah/CITWebProject" target="_blank">GitHub Repository</a></li>
                        </ul>
                    </footer>
            </div>
        </div>
        <script src="/static/js/main.js"></script>
    </body>
</html>